<!-- powered -->
<div class="row" id="powered">
	<div class="col-md-6 col-xs-12 text-center">
		<a href="http://www.alexcarrega.com" target="_blank" data-tooltip title="{{ 'Developed by :developer'|_({ developer: 'AxC' }) }}">
			<img class="img-rounded mrg-t-30px" src="http://www.alexcarrega.com/logo"
				alt="{{ 'Developed by :developer'|_({ developer: 'AxC' }) }}" /></a>
	</div><!-- /.col-md-6.col-xs-12 -->
	<div class="col-md-6 col-xs-12 text-center">
		<a href="http://www.pc-repair.it" target="_blank" data-tooltip title="{{ 'In collaboration with :collaborator'|_({ collaborator: 'Pc-Repair' }) }}">
			<img class="img-rounded mrg-t-30px" src="http://www.pc-repair.it/logo"
				alt="{{ 'In collaboration with :collaborator'|_({ collaborator: 'Pc-Repair' }) }}" /></a>
	</div><!-- /.col-md-6.col-xs-12 -->
</div><!-- /.row#powered -->
<!-- /powered -->
